@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f8f8f8;
}
.page-title-container{
    width: fit-content;
    background-color: bisque;
    margin: 3rem auto;
    padding: 1.5rem;
    border: 2px solid darkblue;
}
.page-title-container h1{
    font-size: 1.5rem;
    color: darkblue;
}
.color-generation-box{
    width: 50%;
    height: auto;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    row-gap: 3rem;
}
.color-box-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    column-gap: 2rem;
}

.first-color-box{
    background-color: #e3e3e3;
    padding: 2rem 4rem;
}
.second-color-box{
    background-color: #e3e3e3;
    padding: 2rem 4rem;
}
.third-color-box{
    background-color: #e3e3e3;
    padding: 2rem 4rem;
}
.button-container{
    width: fit-content;
    height: auto;
}
button{
    background-color: darkblue;
    color: white;
    padding: 1rem 2rem;
    outline: none;
    border: none;
}

@media (max-width: 768px){
    body{
        background-color: #f8f8f8;
    }
    .page-title-container{
        width: fit-content;
        background-color: bisque;
        margin: 3rem auto;
        padding: 1.5rem;
        border: 2px solid darkblue;
    }
    .page-title-container h1{
        font-size: 1.5rem;
        color: darkblue;
    }
    .color-generation-box{
        width: 50%;
        height: auto;
        background-color: white;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        row-gap: 3rem;
    }
    .color-box-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        row-gap: 2rem;
    }
    
    .first-color-box{
        background-color: #e3e3e3;
        padding: 2rem 4rem;
    }
    .second-color-box{
        background-color: #e3e3e3;
        padding: 2rem 4rem;
    }
    .third-color-box{
        background-color: #e3e3e3;
        padding: 2rem 4rem;
    }
    .button-container{
        width: fit-content;
        height: auto;
    }
    button{
        background-color: darkblue;
        color: white;
        padding: 1rem 2rem;
        outline: none;
        border: none;
    }
    
}